name: Build NosStudio ISO

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:trixie

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y live-build curl git unzip sudo

      - name: Build ISO
        run: |
          chmod +x auto/config
          if [ -d config/hooks/normal ]; then
            find config/hooks/normal -type f -name "*.chroot" -exec chmod +x {} +
          fi

          sudo lb clean
          sudo lb config
          sudo lb build

      - name: Upload ISO Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NosStudio-ISO
          path: "*.iso"
          if-no-files-found: error
